.imgSection{
    /* width:66vh;
    outline: solid black; */
    display: block;
}

img{
    width:31vw;
    height: auto;
}

.imgFooter{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dltBtn{
    font-size: 22px;
    padding: 0 5px;
}