.imgSection{
    /* width:66vh;
    outline: solid black; */
    display: block;
}

img{
    width:31vw;
    height: auto;
}

.favImg{
    /* border: solid 1px rgb(193, 170, 186); */
    border-bottom: solid 1px rgb(193, 170, 186);
    background-color: rgb(208, 190, 203);
    padding: 0 5px;
}

.imgFooter{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dltBtn{
    font-size: 22px;
    padding: 0 5px;
}